<!DOCTYPE HTML>
<html>

<head>
<link rel="icon" href="/static/images/ico.ico" type="img/x-ico" />
<link rel="stylesheet" href="/static/js/Jcrop-0.9.12/css/jquery.Jcrop.css">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/jqueryrotate/jqueryrotate/jQueryRotate.js"></script>
<script src="/static/js/Juploadimg/upload_img/js/updateimg.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-cn" />
<title>比对</title>
<script>
$(document).ready(function(){
  $("#rotate").click(function(){
    var angle = 0;
    setInterval(function(){
      angle +=5;
      $("#rotate").rotate(angle);
}, 50);
  });
});
</script>
</head>
<body bgcolor="#00d8eb">
<table>
    <tr>
      <th rowspan="2"><img src="/static/images/back1-1.png" alt=""></th>
      <td><h2>基于虹膜的亲缘关系判定研究系统</h2></td>
      <td rowspan="2" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td rowspan="2" align="center"><a href="/"><img src="/static/images/Shome.png" /><br>首页</td>
      <td rowspan="2" align="center"><a href="/label"><img src="/static/images/Slabel.png" /><br>标注</td>
      <td rowspan="2" align="center"><a href="/compare"><img src="/static/images/Scompare.png" /><br>比对</td>
      <td rowspan="2" align="center"><a href="/find"><img src="/static/images/Sfind.png" /><br>检索</td>
      <td rowspan="2" align="center"><a href="/login"><img src="/static/images/Slogin.png" /><br>登录</td>
      <td rowspan="2" align="center"><a href="/quit"><img src="/static/images/Squit.png" /><br>退出</td>
    </tr>
    <tr>
        <td><p><font size = "3" >再此页面上传两张行虹膜进行比对</font></p></td>
    </tr>
</table>
<!--
<table border="1" align="center" style="background-color:#c0f7fc; border-radius: 15px 15px 15px 15px; box-shadow: darkslategrey 10px 10px 30px 5px ;">
  <td>
    <p><img src="{{img1}}" ><br></p>
    <form action="" enctype='multipart/form-data' method='POST'>
         <input type="file" name="file1">
    <p><img src="{{img2}}" ><br></p>
         <input type="file" name="file2">
         <input type="submit" value="上传开始比对">
     </form>

  </td>
  <td>
    <p>{{xinxi|default('information will ')}}<br>
    {{result|default('putted here ')}}</p>
  </td>
</table>-->
<p>coming soon...</p>
<div align = "center" class="footer">指导老师：郭韦昱<br>计算机15 甘泉</div>
</body>

</html>