<!DOCTYPE HTML>
<html>

<head>
<link rel="icon" href="/static/images/ico.ico" type="img/x-ico" />
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/Jcrop-0.9.12/js/jquery.Jcrop.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-cn" />
<title>导航栏</title>
</head>

<body bgcolor="#00d8eb">

    <img src="/static/images/back1-1.png" alt="">
    <a href="/"><h1>首页</h1></a>
    <a href="/label"><h1>标注</h1></a>
    <a href="/compare"><h1>比对</h1></a>
    <a href="/find"><h1>检索</h1></a>

</body>
</html>