<!DOCTYPE HTML>
<html>

<head>
<link rel="icon" href="/static/images/ico.ico" type="img/x-ico" />
<link rel="stylesheet" href="/static/js/Jcrop-0.9.12/css/jquery.Jcrop.css">
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/jqueryrotate/jqueryrotate/jQueryRotate.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-cn" />
<title>检索</title>
<script>

</script>
</head>
<body bgcolor="#00d8eb">
<table>
    <tr>
      <th rowspan="2"><img src="/static/images/back1-1.png" alt=""></th>
      <td><h2>基于虹膜的亲缘关系判定研究系统</h2></td>
      <td rowspan="2" align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td rowspan="2" align="center"><a href="/"><img src="/static/images/Shome.png" /><br>首页</td>
      <td rowspan="2" align="center"><a href="/label"><img src="/static/images/Slabel.png" /><br>标注</td>
      <td rowspan="2" align="center"><a href="/compare"><img src="/static/images/Scompare.png" /><br>比对</td>
      <td rowspan="2" align="center"><a href="/find"><img src="/static/images/Sfind.png" /><br>检索</td>
    </tr>
    <tr>
        <td><p><font size = "3" >你可以上传虹膜图片，服务器将返回相似的虹膜图片</font></p></td>
    </tr>
</table>

<img src="/static/images/defultEye.png" height="400px" style="box-shadow: darkslategray 0px 0px 10px 5px inset; background-color: #ffffff;" />
<form action="find" enctype='multipart/form-data' method='POST'>
  <input type="file" name="uploadImg" style="margin-top:20px;"/>
  <br>
  <input type="submit" value="提交" class="button-new" style="margin-top:35px;"/>
</form>

<div align="center" class="footer">指导老师：郭韦昱<br>计算机15 甘泉</div>
</body>

</html>