<!DOCTYPE HTML>
<html>

<body bgcolor="#00d8eb">
<head>
<link rel="icon" href="/static/images/ico.ico" type="img/x-ico" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-cn" />
<title>基于虹膜的亲缘关系判定研究系统</title>
</head>

<table>
<tr>
<td><h1>基于虹膜的亲缘关系判定研究系统</h1></td>
<th rowspan="2"><img src="/static/images/back1.png" alt=""></h2></th>
</tr>
<tr>
<td><p>你可以在这个网站进行标注、比对和检索</p></td>
</tr>
</table>
<div align = "center">
	<table>
		<tr>
			<h1 style="color:#00d8eb">&nbsp;<br>&nbsp;</br>&nbsp;<br></h1>
		</tr>
		<tr>
			<td><a href="/login"><img src="/static/images/label.png"></a></td>
			<td><p style="color:#00d8eb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
			<td><a href="/compare"><img src="/static/images/comp.png"></td>
        	<td><p style="color:#00d8eb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
			<td><a href="/find"><img src="/static/images/find.png"></td>
		</tr>
		<tr>
			<td><h3 align = "center">标注</h2></td>
			<td><h1 style="color:#00d8eb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
			<td><h3 align = "center">比对</h2></td>
            <td><h1 style="color:#00d8eb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
			<td><h3 align = "center">检索</h2></td>
	</tr>
		<tr>
			<td><h1 style="color:#00d8eb">&nbsp;<br>&nbsp;</br></h1></td>
		</tr>
	</table>
	<div class="footer">指导老师：郭韦昱</br>计算机15 甘泉</div>

</div>
</body>

</html>